html,body{
    background-color: black;
    color: white;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
}

.brand-logo {
    font-size: 60px;
}

/* header working...DO NOT CHANGE */
header {
    text-align: left;
    padding-left: 10px;
    font-family: 'Montserrat', sans-serif;

}

/* footer working do not change */
footer{
    position: fixed;
    width: 100%;
    bottom: 0;
    text-align: center;
}  
.card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating){
    color: white;
}
.food button{
    margin-bottom: .2rem;
    border: .5px black solid;
}
.side{
    color:white;
}