html,
body {
    background-color: black;
    color: white;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
}


[type="checkbox"]:checked+span:not(.lever):before {
    border-right: 2px solid white;
    border-bottom: 2px solid white;
}

[type="radio"]:checked+span:after,
[type="radio"].with-gap:checked+span:before,
[type="radio"].with-gap:checked+span:after {
    border: 2px solid white;
}

footer {
    position: fixed;
    width: 100%;
    bottom: 0;
}

#poster img {
    height: 15rem;
    width: auto;
    max-width: 100%;
}
.poster-display {
    margin-bottom: 2rem;
}

.card {
    height: 400px;
    overflow: auto;
}

.card::-webkit-scrollbar {
    display: none;
}
header,
main,
footer {
    padding-left: 300px;
}
.check{ padding-left: 1rem;
margin-bottom: 2rem;}
.generate{
    padding-top: 1rem ;
    padding-bottom: 1rem;
}

@media only screen and (max-width : 992px) {

    header,
    main,
    footer {
        padding-left: 0;
    }
}

/* Card styling CSS */
* {
    box-sizing: border-box;
}

footer {
    position: fixed;
    bottom: 0;
    text-align: center;
}
.side{
    color:white;
}
/* Responsive columns - one column layout (vertical) on small screens */
@media screen and (max-width: 600px) {
    .column {
        width: 100%;
        display: block;
        margin-bottom: 20px;
    }
    .card {
        height: 300px;
        
    }
}